{% block media_widget %}
    {% if not form.vars.multiple|default(false) and form.vars.data.id|default(false) %}
        {% include form.vars.show_template with {media: form.vars.data}%}
    {% endif %}
    {{ form_widget(form) }}
    {% if form.vars.fine_uploader|default(false) %}
        <div data-fine-uploader="true"
             data-request_endpoint="{{ oneup_uploader_endpoint(form.vars.oneup_mapping) }}?form_name={{ name }}&multiple={{ form.vars.multiple }}"
             data-chunking_partsize="{{ form.vars.chunk_size }}"
             data-deletefile_endpoint="{{ path('donjohn_media_cancel_fine_uploader', {form_name: name }) }}"
             data-thumbnails_placeholders_notavailablepath='{{ asset('bundles/donjohnmedia/images/file.png') }}'
             data-thumbnails_placeholders_waitingpath='{{ asset('bundles/donjohnmedia/images/file.png') }}'
             data-multiple="{{ form.vars.multiple }}"
             data-session_endpoint="{{ path('donjohn_media_init_fine_uploader', {form_name: name, multiple: form.vars.multiple }) }}"
             data-validation_accept_files="{{ form.vars.validation_accept_files|default(null) }}"
             data-validation_allowed_extensions="{{ form.vars.validation_allowed_extensions|default('[]') }}"
             data-template="donjohn-media-{{ id }}"
        ></div>
        <script type="text/template" id="donjohn-media-{{ id }}">
            {% include form.vars.fine_uploader_template %}
        </script>
    {% endif %}
{% endblock media_widget %}
