{% block media_fine_uploader_widget %}
    {{ form_widget(form) }}

<div id="fine-uploader-{{ id }}"></div>
<div id="alert-{{ id }}"></div>

    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {
            qq.uiPrivateApi._isEditFilenameEnabled = function(){
                return this._templating.isEditFilenamePossible() && qq.FilenameClickHandler && qq.FilenameInputFocusHandler && qq.FilenameInputFocusHandler;
            };
            var uploader{{ id }} = new qq.FineUploader({
                element: document.getElementById('fine-uploader-{{ id }}'),
                request: {
                    endpoint: "{{ oneup_uploader_endpoint('medias') }}"
                },
                session: {
                    endpoint: "{{ path('donjohn_media_init_fine_uploader') }}"
                },
                template: 'donjohn-media',
                chunking: {
                    enabled: true,
                    partSize: {{ form.vars.chunkSize }}
                },
                deleteFile: {
                    enabled: true,
                    endpoint: "{{ path('donjohn_media_cancel_fine_uploader') }}"
                },
                callbacks: {
                    onSubmitDelete: function(id) {
                        this.setDeleteFileParams({filename: this.getName(id)}, id);
                    }
                },
                thumbnails: {
                    placeholders: {
                        notAvailablePath: '{{ asset('bundles/donjohnmedia/images/iconmonstr-file-20-72.png') }}',
                        waitingPath: '{{ asset('bundles/donjohnmedia/images/iconmonstr-file-20-72.png') }}',
                        waitUntilResponse: true
                    }
                },
                classes: {
                    buttonHover: false,
                    buttonFocus: false,
                    hide: 'hidden',
//                    success: 'alert-success',
                    fail: 'alert-danger'
                },
                multiple: {% if form.vars.multiple|default(false) %}true{% else %}false{% endif %}
                {#showMessage: function (message) {#}
                    {#$('#alert-{{ id }}').append('<div class="alert alert-error lead">' + message + '</div>');#}
                {#}#}
            });
        }, true);

</script>

{% endblock media_fine_uploader_widget %}
