{% block media_widget %}
    {% if not form.vars.multiple|default(false) and form.vars.data.id|default(false)  and not form.vars.fine_uploader|default(false) %}
        {% include form.vars.show_template with {media: form.vars.data, filter: form.vars.thumbnail_format }%}
    {% endif %}
    {{ form_widget(form) }}
    {% if form.vars.fine_uploader|default(false) %}
        <div id="donjohn-fine-uploader-{{ id }}"
             data-fine-uploader="true"
             data-request_endpoint="{{ oneup_uploader_endpoint(form.vars.oneup_mapping) }}?form_name={{ form.vars.form_name }}&multiple={{ form.vars.multiple }}"
             data-chunking_partsize="{{ form.vars.chunk_size }}"
             data-deletefile_endpoint="{{ path('_uploader_cancel_'~form.vars.oneup_mapping, {form_name: form.vars.form_name }) }}"
             data-thumbnails_placeholders_notavailablepath='{{ asset('bundles/donjohnmedia/images/file.png') }}'
             data-thumbnails_placeholders_waitingpath='{{ asset('bundles/donjohnmedia/images/file.png') }}'
             data-multiple="{{ form.vars.multiple }}"
             data-extra_dropzones="[document.querySelector('#donjohn-fine-uploader-{{ id }}')]"
             {% if form.vars.session_init|default(false) %}data-session_endpoint="{{ path('_uploader_init_'~form.vars.oneup_mapping, {form_name: form.vars.form_name, multiple: form.vars.multiple }) }}"{% endif %}
             data-validation_accept_files="{{ form.vars.validation_accept_files|default(null) }}"
             data-validation_allowed_extensions="{{ form.vars.validation_allowed_extensions|default('[]') }}"
             data-template="donjohn-media-{{ id }}"
             data-id="donjohn-media-fineuploader-{{ id }}"
        ></div>
        <script type="text/template" id="donjohn-media-{{ id }}">
            {% include form.vars.fine_uploader_template %}
        </script>
    {% endif %}
{% endblock media_widget %}
