{% block media_fine_uploader_widget %}
    {{ form_widget(form) }}

<div id="fine-uploader-{{ id }}"></div>
<div id="alert-{{ id }}"></div>

    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {

            var uploader = new qq.FineUploader({
                element: document.getElementById('fine-uploader-{{ id }}'),
                request: {
                    endpoint: "{{ oneup_uploader_endpoint('medias') }}"
                },
                template: 'donjohn-media',
                chunking: {
                    enabled: true,
                    partSize: {{ form.vars.fileMaxSize }}
                },
                deleteFile: {
                    enabled: true,
                    endpoint: "{{ path('donjohn_media_cancel_fine_uploader') }}"
                },
                callbacks: {
                    onSubmitDelete: function(id) {
                        this.setDeleteFileParams({filename: this.getName(id)}, id);
                    }
                },
                classes: {
                    buttonHover: false,
                    buttonFocus: false,
                    hide: 'hidden',
                    success: 'alert-success',
                    fail: 'alert-danger'
                },
                showMessage: function (message) {
                    $('#alert-{{ id }}').append('<div class="alert alert-error lead">' + message + '</div>');
                }
                //TODO: recup les contentType du provider et les balancer dans le js
            });
        }, true);

</script>

{% endblock media_fine_uploader_widget %}