{% block media_widget %}
    {% if form.vars.dropzone %}
        <input type="file" id="hiddenFile{{ id }}" class="hidden">
        <div data-dropzone="on" id="dropzone{{ id }}" data-provider="{{ provider }}" class="text-center">

            <span class="center-block text-center panel panel-body" style="border: 2px dashed {{ easy_admin_design_brand_color }}; ">{{ 'dropzone.message.single'|trans({},'DonjohnMediaBundle') }}</span>
    {% endif %}

            {% media form.vars.data, 'thumbnail' with {class: 'img-rounded visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block' } %}
            {{ form_widget(form) }}

    {% if form.vars.dropzone %}
        </div>
    {% endif%}

{% endblock media_widget %}